.todos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .todos {
        justify-content: center;
        width: 95% ;
    }
}
    