@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');




.App {
  font-family: 'Neucha', cursive;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.925);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.heading {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  z-index: 1;
}

@media (max-width: 768px) {
  .heading {
    margin: 15px 0;
    font-size: 30px;
  }
}
  

